/////////////////////////////////////////////////////////////////////////
///////////////////Background gray box//////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.gray-box {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 50vw;
  height: 50vh;
  background-color: var(--light-grayish-blue);
  border-bottom-left-radius: 5rem;

  @media screen and (max-width: 680px) {
    height: 60vh;
  }
}
