//////////////////////////////////////////////////////
/////////////////Main container//////////////////////
///////////////////////////////////////////////////////////////////////////////////

.container{
    display: grid;
    grid-template-columns: 50vw 50vw;
    overflow-x: hidden;
    margin-top: 15rem;
    .main-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
// Background image (Illustration devices) 
    .right-side{
        img{
           width: 135%;
        }
    }

}

