////////////////////////////////////////////////////////
////////////////////Navigation bar/////////////////////
//////////////////////////////////////////////////////////////////////////////////////

.logo {
  position: absolute;
  left: 7%;
  top: 5rem;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 5rem 15rem;

  @media screen and (max-width: 1350px) {
    margin: 5rem 10rem;
  }
  @media screen and (max-width: 1200px) {
    margin: 5rem 5rem;
  }

  @media screen and (max-width: 680px) {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 32%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 80%;
    padding: 2rem 0;
    box-shadow: -2px 4px 20px 1px #000000;
    margin: 0;
  }

  .nav-links {
    &__container {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        list-style: none;
        margin-right: 5rem;
        a {
          color: var(--dark-blue);
          font-weight: 700;
          letter-spacing: 1px;
          text-decoration: none;
          text-transform: uppercase;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      @media screen and (max-width: 680px) {
        flex-direction: column;

        li {
          margin: 0 0 3rem 0;
        }
      }
    }
  }

  span {
    background-color: var(--grayish-blue);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    margin-right: 5rem;

    @media screen and (max-width: 680px) {
      margin: 0 0 3rem 0;
      width: 80%;
      height: 0.1rem;
      border-radius: 0;
    }
  }

  .login-btn {
    background-color: transparent;
    color: var(--grayish-blue);
    font-weight: 700;
    border: none;
    font-size: 1.8rem;
    letter-spacing: 1px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.menu-button {
  position: absolute;
  top: 5rem;
  right: 5rem;
  display: none;
  z-index: 1000;
  cursor: pointer;

  @media only screen and (max-width: 680px) {
    display: block;
  }
}

.open-nav {
  display: flex;
}
