:root {
  --red: hsl(0, 100%, 68%);
  --dark-blue: hsl(230, 29%, 20%);
  --dark-grayish-blue: hsl(230, 11%, 40%);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 10px;
  box-sizing: border-box; }
  @media screen and (max-width: 1080px) {
    html {
      font-size: 8px; } }
  @media screen and (max-width: 880px) {
    html {
      font-size: 6px; } }
  @media screen and (max-width: 680px) {
    html {
      font-size: 10px; } }
  @media screen and (max-width: 550px) {
    html {
      font-size: 8px; } }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }

body {
  font-size: 1.8rem;
  font-family: 'Barlow', sans-serif; }

.main-text-container {
  max-width: 67rem;
  text-align: center;
  margin: 0 7rem; }
  .main-text-container h1,
  .main-text-container h2 {
    margin-bottom: 2rem; }

h1,
button,
a {
  font-family: 'Barlow Condensed', sans-serif; }

.gray-box {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 50vw;
  height: 50vh;
  background-color: var(--light-grayish-blue);
  border-bottom-left-radius: 5rem; }
  @media screen and (max-width: 680px) {
    .gray-box {
      height: 60vh; } }

.btn {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: var(--red);
  padding: 1.5rem 5rem;
  border: none;
  border-radius: .5rem;
  transition: opacity 0.3s;
  cursor: pointer; }
  .btn:hover {
    opacity: 0.7; }
  .btn:focus {
    outline: none; }
  .btn:active {
    opacity: 1; }
  .btn-container {
    margin-top: 5rem; }
    .btn-container .btn {
      margin-right: 2rem; }
    .btn-container span {
      color: var(--grayish-blue);
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 1.5rem; }

.container {
  display: grid;
  grid-template-columns: 50vw 50vw;
  overflow-x: hidden;
  margin-top: 15rem; }
  @media screen and (max-width: 680px) {
    .container {
      margin-top: 0;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr; } }
  .container .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  @media screen and (max-width: 680px) {
    .container .right-side {
      grid-row: 1; } }
  .container .right-side img {
    width: 135%; }

@media screen and (max-width: 680px) {
  .main-content {
    grid-row: 2; } }

.main-content__items {
  padding: 1rem; }

.main-content .new {
  font-weight: 700;
  color: #fff;
  background-color: var(--dark-blue);
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  margin-right: 1rem; }

.main-content__dashboard-txt {
  color: var(--grayish-blue);
  text-transform: uppercase;
  letter-spacing: 2px; }

.main-content__head {
  font-size: 6rem;
  color: var(--dark-blue);
  text-transform: uppercase;
  margin: 2rem 0;
  max-width: 45rem; }

.main-content p {
  width: 27rem;
  color: var(--dark-grayish-blue); }

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 15rem; }
  @media screen and (max-width: 680px) {
    nav *:not(.logo) {
      display: none; } }
  @media screen and (max-width: 1350px) {
    nav {
      margin: 5rem 10rem; } }
  @media screen and (max-width: 1200px) {
    nav {
      margin: 5rem 5rem; } }
  nav .nav-links__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto; }
    nav .nav-links__container li {
      list-style: none;
      margin-right: 5rem; }
      nav .nav-links__container li a {
        color: var(--dark-blue);
        font-weight: 700;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase; }
        nav .nav-links__container li a:hover {
          text-decoration: underline; }
  nav span {
    background-color: var(--grayish-blue);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    margin-right: 5rem; }
  nav .login-btn {
    background-color: transparent;
    color: var(--grayish-blue);
    font-weight: 700;
    border: none;
    font-size: 1.8rem;
    letter-spacing: 1px;
    cursor: pointer; }
    nav .login-btn:hover {
      text-decoration: underline; }

.menu-button {
  position: absolute;
  top: 5rem;
  right: 5rem;
  display: none; }
